@(
        years: Seq[com.norcane.noble.api.models.dates.Year],
        router: com.norcane.noble.api.BlogReverseRouter
)

<div class="module navigation">
  <div class="content">
    <h1><span>navigation</span></h1>
    <ul class="years">
      @for(year <- years) {
        <li>
          <h2><a href="@router.year(year.year)">@year.year</a></h2>
          <ul class="months">
          @for((no, month) <- year.months) {
            <li>
              <a href="@router.month(year.year, month.month)">@month.name (@month.posts.size)</a>
            </li>
          }
          </ul>
        </li>
      }
    </ul>
  </div>
</div>